In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("C:/Users/Shehryar/Downloads/Alldone_1hot_v1.csv")

In [3]:
data.head()

,Unnamed: 0,latitude,longitude,stars,review_count,is_open,fbcheckins,rating_count,engagement.count,pos_reviews,...,SunHoursClose_2145,SunHoursClose_2200,SunHoursClose_2215,SunHoursClose_2230,SunHoursClose_2245,SunHoursClose_2300,SunHoursClose_2315,SunHoursClose_2330,SunHoursClose_2345,SunHoursClose_nan
0,0,43.633291,-79.531768,3.0,13,0,NaN,NaN,NaN,11,...,0,0,0,0,0,0,0,0,0,1
1,1,43.666376,-79.348773,4.0,116,1,1252.0,15.0,88.0,109,...,0,1,0,0,0,0,0,0,0,0
2,2,43.649859,-79.382060,3.0,8,1,43.0,0.0,0.0,7,...,0,0,0,0,0,0,0,0,0,1
3,3,43.765279,-79.326248,3.0,11,1,NaN,NaN,NaN,8,...,0,0,0,0,0,0,0,0,0,1
4,4,43.685608,-79.313936,4.5,24,1,NaN,NaN,NaN,24,...,0,0,0,0,0,0,0,0,0,0

In [11]:
cols = data.columns
data['attributes.RestaurantsAttire_\'casual\'']

0       0
1       0
2       1
3       0
4       0
       ..
8674    0
8675    0
8676    0
8677    1
8678    0
Name: attributes.RestaurantsAttire_'casual', Length: 8679, dtype: int64